doctype
html
	include inc/head
	body
		include inc/header
		style.
			h4 {
				font-size : 16px;
			} .thumbnail > img {
				width : 150px;
				height : 150px;
			} h1 {
				color : #5cb85c;
			}
		.container.col-xs-12.col-xs-offset-0.col-lg-10.col-lg-offset-1#containerall
			h1(id="#{search}")= 'Résultats pour : ' + search
			hr
			for product, i in results
				div(id="product#{product.ean}").container.col-lg-3
					.thumbnail
						img(src="/productImage/#{product.img}/#{product.ean}.jpg", onerror="this.src='/img/vasi.png'", alt="Responsive image", data-toggle="tooltip", data-placement="left" title="#{product.name}").img-responsive
						.caption
							- if (product.name.length > 22)
								h5= (product.name).toLowerCase().substring(0, 22) + "..."
							- else
								h5= product.name.toLowerCase()
							p
								small= product.brand_name
							.row
								.btn-group.col-lg-12
									a(href="/product/?product=#{product.ean}", type="button").btn.btn-success.col-lg-6 Voir 
										span.glyphicon.glyphicon-search
									button(type="button", name="#{product.ean}" id="#{product.ean}").btn.btn-info.col-lg-6.lol Ajouter 
										span.glyphicon.glyphicon-list-alt
		include inc/script
		script(type="text/javascript", src="/js/jquery-product.js")
		script.
			scrolldown();
			fulists();
			popoverfunc();